
<table  mat-table [dataSource]="dataSource" class="mat-elevation-z8"  >

  


    <ng-container matColumnDef="Sno" >
      <th mat-header-cell *matHeaderCellDef> Sno </th>
      <td mat-cell *matCellDef="let element"> {{element.Sno}} </td>
    </ng-container>
  
  
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="DOB">
      <th mat-header-cell *matHeaderCellDef> DOB </th>
      <td mat-cell *matCellDef="let element"> {{element.DOB}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Gender">
      <th mat-header-cell *matHeaderCellDef> Gender </th>
      <td mat-cell *matCellDef="let element"> {{element.Gender}} </td>
    </ng-container>
    <ng-container matColumnDef="Address">
      <th mat-header-cell *matHeaderCellDef> Address</th>
      <td mat-cell *matCellDef="let element"> {{element.Address}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Address1">
      <th mat-header-cell *matHeaderCellDef> Address</th>
      <td mat-cell *matCellDef="let element"> {{element.Address1}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Address2">
      <th mat-header-cell *matHeaderCellDef> Address2 </th>
      <td mat-cell *matCellDef="let element"> {{element.Address2}} </td>
    </ng-container>
    <ng-container matColumnDef="State">
      <th mat-header-cell *matHeaderCellDef> State </th>
      <td mat-cell *matCellDef="let element"> {{element.State}} </td>
    </ng-container>
  
    <ng-container matColumnDef="City">
      <th mat-header-cell *matHeaderCellDef> City </th>
      <td mat-cell *matCellDef="let element"> {{element.City}} </td>
    </ng-container>
    
    <ng-container matColumnDef="Pincode">
      <th mat-header-cell *matHeaderCellDef> Pincode </th>
      <td mat-cell *matCellDef="let element"> {{element.Pincode}} </td>
    </ng-container>
  
   
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <button mat-dialog-close mat-dialog-close ="true" class="button">add data</button>
  <button  mat-dialog-close mat-dialog-close ="false" class="button">cancel</button>
  
  
  
  
